.header {
    display: block;
    padding-top: 2rem;
    position: relative;
    .header-top {
        display: flex;
        justify-content: space-between;
        font-size: 1.2rem;
        nav {
            cursor: pointer;
            a {
                &:not(:last-child) {
                    margin-right: 20px;
                }
            }
        }

        .header-top-hamburger {
            color: var(--primary);
            background-color: var(--highlight);
            display: none;
        }

        @media (max-width: 600px) {
            nav {
                display: none;
            }

            .header-top-hamburger {
                display: block;
            }
        }
    }
    .header-menu-mobile {
        background-color: rgba(0, 0, 0, 0.161);
        backdrop-filter: blur(7px);
        padding: 2rem 1rem;
        margin-top: 2rem;
        border-bottom: 1px solid var(--highlight);
        border-top: 1px solid var(--highlight);
        position: absolute;
        width: 100%;
        left: 0;
        right: 0;
        display: none;
        nav {
            display: flex;
            flex-direction: column;
            gap: 0.5rem;
        }
        &.open {
            display: block;
        }
        .header-menu-mobile-button {
            background-color: var(--highlight);
            color: var(--primary);
        }
    }
    .header-banner {
        width: 100%;
        display: flex;
        align-items: center;
        flex-direction: column;
        padding: 5rem 0 4rem 0;

        img {
            width: 10rem;
            margin-bottom: 2rem;
        }
        h1,
        h2 {
            text-align: center;
        }
        h1 {
            color: var(--highlight);
            font-family: "Recursive", sans-serif;
            font-weight: normal;
            font-style: italic;
            font-size: 3.2rem;
            margin-bottom: 1rem;
        }
        h2 {
            font-weight: normal;
            font-size: 1.3rem;
        }

        @media (max-width: 600px) {
            padding: 3rem 0;
            img {
                width: 7rem;
            }
            h1 {
                font-size: 1.5rem;
            }
            h2 {
                font-size: 1rem;
            }
        }
    }
}
